## Lists

1. A list is a collection which is ordered and changeable
2. Lists are written with square brackets

In [1]:
# simple list of characters
lst=['a','b','c']
print(lst)
print(type(lst))
print(len(lst))

['a', 'b', 'c']
<class 'list'>
3

In [2]:
# simple list of numbers
lst=[1,2,3]
print(lst)
print(type(lst))
print(len(lst))

[1, 2, 3]
<class 'list'>
3

In [3]:
# list of both numbers and characters
lst=[1,2,'a',3]
print(lst)
print(type(lst))
print(len(lst))

[1, 2, 'a', 3]
<class 'list'>
4

In [4]:
# access elements
print(lst[0])
print(lst[1])
print(lst[2])

1
2
a

In [5]:
# list of both numbers and characters and another list
lst=['a','b','c',100,['d','e']]
print(lst)
print(type(lst))
print(len(lst))

['a', 'b', 'c', 100, ['d', 'e']]
<class 'list'>
5

In [6]:
print(lst[0])
print(lst[1])
print(lst[2])
print(lst[3])
print(lst[4])

a
b
c
100
['d', 'e']

In [7]:
# accessing elements from child lists
print(lst[4][0])
print(lst[4][1])
#print(lst[4][2])

d
e

In [8]:
# using negative indexing
print(lst)
print(lst[-2])
print(lst[-1])
print(lst[-1][0])
print(lst[-1][-2])

['a', 'b', 'c', 100, ['d', 'e']]
100
['d', 'e']
d
d

In [9]:
# What does lst[-3:-1] print?
print(lst)
print(lst[-3:-1])

['a', 'b', 'c', 100, ['d', 'e']]
['c', 100]

In [10]:
#changing an item
lst[1]='z'
print(lst)

['a', 'z', 'c', 100, ['d', 'e']]

In [11]:
# looping through a list
for x in lst:
    print(x)

a
z
c
100
['d', 'e']

In [12]:
# one liner for
[print(x) for x in lst]

a
z
c
100
['d', 'e']

[None, None, None, None, None]

In [13]:
#adding an item. Adds at the end
lst.append('“y”')
lst

['a', 'z', 'c', 100, ['d', 'e'], '“y”']

In [14]:
#add an item at a specific location
lst.insert(0,"yo ho ho")
print(lst)

['yo ho ho', 'a', 'z', 'c', 100, ['d', 'e'], '“y”']

In [15]:
#remove an item from list
lst.remove('“y”')
print(lst)

['yo ho ho', 'a', 'z', 'c', 100, ['d', 'e']]

In [16]:
#checking for existence
print('z' in lst)
#prints True

print('d' in lst)
#prints False
# why did this one print False when d exists in the listg

True
False

In [17]:
#length of a list
print(lst)
print(len(lst))

#length of a component in a list
print(len(lst[5]))

['yo ho ho', 'a', 'z', 'c', 100, ['d', 'e']]
6
2

In [18]:
print(lst)
for x in lst:
    try:
        print(x,":",len(x))
    except:
        print("incompatible")

['yo ho ho', 'a', 'z', 'c', 100, ['d', 'e']]
yo ho ho : 8
a : 1
z : 1
c : 1
incompatible
['d', 'e'] : 2

In [19]:
#copy a list
l2=lst
print(l2)	#prints	['yo ho ho','a','b', 'c', 100, ['d', 'e']]	
lst.remove('yo ho ho')
print(l2)
#prints	['a','b', 'c', 100, ['d', 'e']]

['yo ho ho', 'a', 'z', 'c', 100, ['d', 'e']]
['a', 'z', 'c', 100, ['d', 'e']]

In [20]:
l2=lst.copy()
print(l2)	#prints	['a','b', 'c', 100, ['d', 'e']]
lst.remove(100)
print(l2)	#prints	['a','b', 'c', 100, ['d', 'e']]

['a', 'z', 'c', 100, ['d', 'e']]
['a', 'z', 'c', 100, ['d', 'e']]

In [21]:
#add two lists
lst2=['d','e','f']
print(lst + lst2)
#prints	['a', 'b', 'c', ['d', 'e'], 'd', 'e', 'f']

['a', 'z', 'c', ['d', 'e'], 'd', 'e', 'f']

In [22]:
lst.append(lst2)

In [23]:
lst

['a', 'z', 'c', ['d', 'e'], ['d', 'e', 'f']]

In [24]:
#sort and reverse
lst2.sort
print(lst2)
#prints	[‘d’,’e’,’f’]

['d', 'e', 'f']

In [25]:

#print(lst2)
#prints	[’f’,’e’,’d’]

In [26]:
#Mapping
#Map function is applied over an iterable (list, tuple, set) and applies the given function to each iterable and returns a list

print(tuple(map(len, lst2)))
#print(map(len, lst2))
#prints	[1,1,1]

(1, 1, 1)

In [27]:
## index
lst=[100,200,300]
print(lst.index(100))
#print(lst.index(1400))

0

In [28]:
## isinstance

print(isinstance(lst, list))
print(isinstance(lst, tuple))
print(isinstance(lst, int))

True
False
False

# tuples

1. A tuple is a collection which is ordered and unchangeable.
2. Defined inside round brackets.

In [29]:
tpl = ("apple", "banana", "cherry", 100)
print(tpl)
type(tpl)

('apple', 'banana', 'cherry', 100)

tuple

In [30]:
# accesssing elements
print(tpl[0])
print(tpl[2])
print(tpl[-1])

apple
cherry
100

In [31]:
## Tuple immutability
t1=(2,3,4)
t2=(4,6,7)
t1[0]

2

In [35]:
t1[0]=100

TypeError: 'tuple' object does not support item assignment

In [37]:
## adding tuples
t3=t1+t2
t3

(2, 3, 4, 4, 6, 7)

In [38]:
# creating an empty tuple
t4=()
type(t4)

tuple

In [39]:
# creating tuple with one value only
tpl=('2')
print(type(tpl))

<class 'str'>

In [40]:
tpl=(2,)
type(tpl)

tuple

In [41]:
max(t3)

7

In [42]:
min(t3)

2

In [44]:
tpl = ("apple", "banana", "cherry")
min(tpl)

'apple'

In [45]:
# convert a list into a tuple
tpl_lst=tuple(lst2)
print(tpl_lst)

('d', 'e', 'f')

In [46]:
# tuple with lists
tpl=(100,200,'aa',[200,100])
print(tpl)

(100, 200, 'aa', [200, 100])

In [47]:
print(tpl[1])
print(tpl[3]) # what is needed to access individual list elements inside a tuple

200
[200, 100]

## dictionaries

1. A dictionary is a collection which is unordered, changeable and indexed
2. Comprises of a pair of keys and corresponding values. Duplicates not allowed
3. Can contain multiple data types

In [48]:
cdict =	{
  "game": "cricket",
  "teams": 2,
  "players": 11
}
print(cdict)
#prints:	{'game': 'cricket', 'teams': 2, 'players': 11

{'game': 'cricket', 'teams': 2, 'players': 11}

In [49]:
bdict ={
    "teams": 2,
  "game": "basketball",
  "players": 5
}
print(bdict)

{'teams': 2, 'game': 'basketball', 'players': 5}

In [50]:
bdict ={
    "teams": 10,
  "game": 4,
  "players": 40
}
print(bdict)

{'teams': 10, 'game': 4, 'players': 40}

In [51]:
gamedict =	{
  "game1": cdict,
  "game2": bdict
}
print(gamedict)

{'game1': {'game': 'cricket', 'teams': 2, 'players': 11}, 'game2': {'teams': 10, 'game': 4, 'players': 40}}

In [52]:
## Accessing data from cdict

print(cdict)
print(cdict.get('teams'))
print(cdict['teams'])

{'game': 'cricket', 'teams': 2, 'players': 11}
2
2

In [53]:
# Looping through a dictionary

#access key names only
for x in cdict:
    print (x)

print("-------- another way -----")

for x in cdict.keys():
    print (x)

game
teams
players
-------- another way -----
game
teams
players

In [54]:
# Looping through a dictionary

#access values only
for x in cdict:
    print(cdict[x])

print("-------- another way -----")

for x in cdict.values():
    print(x)

cricket
2
11
-------- another way -----
cricket
2
11

In [55]:
# Looping through a dictionary

#access both keys and values
for x,y in cdict.items():
    print(x,y)

game cricket
teams 2
players 11

In [56]:
## copying a dictionary
cdict2=cdict.copy()

## removing all elements from a dictionary
cdict.clear()
print(cdict)
print(cdict2)

{}
{'game': 'cricket', 'teams': 2, 'players': 11}

In [57]:
## remove a specific key
cdict2.pop('game')
cdict2

{'teams': 2, 'players': 11}

In [58]:
## updating a dictionary
cdict={}
print("-------\n",cdict)

cdict['game']='football'
print("-------\n",cdict)

# add a new key
cdict['venue']='Manchester'
print("-------\n",cdict)

# adding key3 
cdict.update({'series':'ODI World Cup'}) 
print("-------\n",cdict)
  
# adding elements of another dictionary keys
jersey = {'India':'Blue', 'Australia':'Yellow'} 
cdict.update(jersey) 
print("-------\n",cdict)
  
# by assigning  
cdict.update(overs =50) 
print("-------\n",cdict)

-------
 {}
-------
 {'game': 'football'}
-------
 {'game': 'football', 'venue': 'Manchester'}
-------
 {'game': 'football', 'venue': 'Manchester', 'series': 'ODI World Cup'}
-------
 {'game': 'football', 'venue': 'Manchester', 'series': 'ODI World Cup', 'India': 'Blue', 'Australia': 'Yellow'}
-------
 {'game': 'football', 'venue': 'Manchester', 'series': 'ODI World Cup', 'India': 'Blue', 'Australia': 'Yellow', 'overs': 50}

In [59]:
## This doesnt make a lot of functional sense
print(len(cdict))
cdict.pop('India')
cdict.pop('Australia')
print(cdict)

6
{'game': 'football', 'venue': 'Manchester', 'series': 'ODI World Cup', 'overs': 50}

In [60]:
# adding another collection to a dictionary
jersey = {'India':'Blue', 'Australia':'Yellow'}
cdict['jersey']=jersey
print("-------\n",cdict)

-------
 {'game': 'football', 'venue': 'Manchester', 'series': 'ODI World Cup', 'overs': 50, 'jersey': {'India': 'Blue', 'Australia': 'Yellow'}}

In [61]:
st1={100,200,300,300}
st1[0]

TypeError: 'set' object does not support indexing

In [62]:
st1={1000,200,300,300}
print(st1)

{1000, 300, 200}

In [63]:
#### notice anything weird here?
print(st1)

{1000, 300, 200}

In [64]:
### check presence of an element
100 in st1

False

In [65]:
st2={100,600,700}
print("intersection:", st1.intersection(st2))
print("union:", st1.union(st2))

intersection: set()
union: {700, 100, 1000, 600, 300, 200}